<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SSS JUNIOR COLLEGE</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    </head>

  <body>
    <header>
      <div class="container">
        <div class="row col-12 align-items-center justify-content-center">
          <img
            class="col-auto"
            style="border-radius: 50%; width: 150px"
            src="{% static 'images/logo.jpg' %}"
            alt=""
          />

          <h1
            class="col-lg-auto col-sm-7 font-monospace fw-bold text-wrap mt10 text-center"
          >
            SRI SATHYA SAI JUNIOR COLLEGE FOR WOMEN
          </h1>
        </div>
      </div>
    </header>

   
  <nav class="navbar navbar-expand-md navbar-dark mt10">
    <div class="container">
      <a href="#" class="navbar-brand"><span><img src="{% static 'images/logo.jpg' %}" style="width: 30px;" class="rounded-circle" alt=""></span></span></a>
      <button
        class="navbar-toggler collapsed"
        type="button"
        data-toggle="collapse"
        data-target="#NavBar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="NavBar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a href="{% url 'home' %}" class="nav-link "><span><i class="bi bi-house"></i></span> &nbsp;HOME</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'academics' %}" class="nav-link"><span><i class="bi bi-book"></i></span> &nbsp;ACADEMICS</a>
          </li>
          <li class="nav-item active">
            <a href="{% url 'infra' %}" class="nav-link active"><span><i class="bi bi-building"></i></span> &nbsp;INFRA AND FACULTY</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'about' %}" class="nav-link"><span><i class="bi bi-info"></i></span> &nbsp;ABOUT</a>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a href="{% url 'application' %}" class="nav-link float-right"><span><i class="bi bi-info"></i></span> &nbsp;APPLICATION</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'userlogout' %}" class="nav-link float-right"><span><i class="bi bi-info"></i></span> &nbsp;LOGOUT</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a href="{% url 'userlogin' %}" class="nav-link float-right"><span><i class="bi bi-info"></i></span> &nbsp;LOGIN</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>



    <div class="container">
      <div class="row">
        <div class="head-content col-12">
         <h2>INFRASTRUCTURE</h2>
        </div>
      </div>
      <div class="row align-items-center justify-content-center">
        <div class="head-content col-12">
          <h4>LABS</h4>
          The Laboratories and the college building is very much sophisticated and the facilities are great.
        </div>
          
          <div class="row-content col-8 col-md-6 col-lg-4">
            <img src="{% static 'images/Picture25.png' %}" class="saiphoto-md img-thumbnail img-responsive" alt="">
          </div>
          <ul class="list-group col-12 col-md-5 col-lg-6">
            <li class="list-group-item">BOTANY LAB</li>
            <li class="list-group-item">ZOOLOGY LAB</li>
            <li class="list-group-item">CHEMISTRY LAB</li>
            <li class="list-group-item">PHYSICS LAB</li>
          </ul>
      </div>


      <div class="row align-items-center justify-content-center">
        <div class="head-content col-12">
          <h4>COMPUTER LAB</h4>
        </div>
          
          <div class="row-content col-8 col-md-6 col-lg-4">
            <img src="{% static 'images/Picture29.jpg' %}" class="saiphoto-md img-thumbnail img-responsive" alt="">
          </div>
          <ul class="list-group col-12 col-md-5 col-lg-6">
            <li class="list-group-item">The Department of Computer Science & Engineering was established to meet the demand for well qualified computer professionals and was conceived in the year 1998.
            </li>
          </ul>
      </div>


      <div class="row align-items-center justify-content-center">
        <div class="head-content col-12">
          <h4>LIBRARY</h4>
        </div>
          
          <div class="row-content col-8 col-md-6 col-lg-3">
            <img src="{% static 'images/Picture26.jpg' %}" class="saiphoto-md img-thumbnail img-responsive" alt="">
          </div>
          <div class="row-content col-8 col-md-6 col-lg-3">
            <img src="{% static 'images/Picture27.jpg' %}" class="saiphoto-md img-thumbnail img-responsive" alt="">
          </div>
  
          <ul class="list-group col-12">
            <li class="list-group-item">We have very good library there are different kinds of books which are useful to our college Students. Our Library contains total number of 5176 Books.
            </li>
          </ul>
      </div>
    </div>

    

    <div class="container">
      <div class="row">
        <div class="row-content">
          <h2>FACULTY</h2>
        </div>
      </div>

      <div class="row align-items-center justify-content-center">
        <div class="head-content col-12">
          <p>Our Faculty is the strength of our college.</p>
          <h4>CORRESPONDENTS</h4>
        </div>

        <div class="row-content col-7 col-md-6 col-lg-3">
          <img src="{% static 'images/Picture8.jpg' %}" class="saiphoto-md img-thumbnail img-responsive" alt="">
        </div>

        <div class="row-content col-7 col-md-6 col-lg-3">
          <img src="{% static 'images/Picture7.png' %}" class="saiphoto-md img-thumbnail img-responsive" alt="">
        </div>

        <ul class="list-group col-12 col-md-5 col-lg-12">
          <li class="list-group-item">Sri G.D. Jwalanaiah was the first correspondent of this college since 1995 onwards.

            He was former Municipal Chairman and one of the secretaries of AICC. He was a close confident of former Prime Minister smt Indira Gandhi.
            After him P. Krishna Swamy Kumar, a Senior Advocate by Profession has been acting as the correspondent from 17-6-2015 to till date.
          </li>
        </ul>
      </div>
      <hr>

      <div class="row align-items-center justify-content-center">
        <div class="head-content col-12">
          <h4>FACULTY ACHIEVEMENTS</h4>
        </div>
      </div>

      <div class="row align-items-center justify-content-center">
      <div class="row-content col-8 col-md-6 col-lg-4">
        <img src="{% static 'images/Picture9.png' %}" class="saiphoto-md img-thumbnail img-responsive" alt="">
        <h6 class="text-center">Dr. K. Subhashini</h6>

      </div>

      <ul class="list-group col-12 col-md-5 col-lg-7">
        <li class="list-group-item">
          Our former Jr lecturer in Zoology Dr. K. Subhashini was awarded best lecturer award in 2010.
        </li>
      </ul>
      </div>


      <div class="row align-items-center justify-content-center">
        <div class="row-content col-8 col-md-6 col-lg-4">
          <img src="{% static 'images/Picture10.png' %}" class="saiphoto-md img-thumbnail img-responsive" alt="">
          <h6 class="text-center">Dr. C.R. Lalitha</h6>
  
        </div>
  
        <ul class="list-group col-12 col-md-5 col-lg-7">
          <li class="list-group-item">
            Our former Jr lecturer in Sanskrit Dr. C.R. Lalitha received commendation certificate for achieving 100% pass percentage in her students in 2011.
          </li>
        </ul>
        </div>


        <div class="row align-items-center justify-content-center">
          <div class="row-content col-8 col-md-6 col-lg-4">
            <img src="{% static 'images/Picture11.png' %}" class="saiphoto-md img-thumbnail img-responsive" alt="">
            <h6 class="text-center">Smt G. Hymavathi</h6>
          </div>
    
          <ul class="list-group col-12 col-md-5 col-lg-7">
            <li class="list-group-item">
              Our former Principal Smt G. Hymavathi was awarded the best principal award in the year 2016 by the District Collector Kona Sashidhar IAS.
            </li>
          </ul>
          </div>

          <div class="row align-items-center justify-content-center">
          <div class="row-content col-8 col-md-6 col-lg-4">
            <img src="{% static 'images/Picture12.png' %}" class="saiphoto-md img-thumbnail img-responsive" alt="">
            <h6 class="text-center">Smt T. Dhana Lakshmi</h6>
          </div>
    
          <ul class="list-group col-12 col-md-5 col-lg-7">
            <li class="list-group-item">
              Our Jr lecturer in Botony Smt T. Dhana Lakshmi was received best lecturer award from 
              Smt Paritala Sunitha a cabinet minister of A.P in 2016.
            </li>
          </ul>
          </div>

          <div class="row align-items-center justify-content-center">
          <div class="row-content col-6 col-md-5 col-lg-3">
            <img src="{% static 'images/Picture13.jpg' %}" class="saiphoto-md img-thumbnail img-responsive" alt="">
            <h6 class="text-center">Smt P. Lakshmidevi</h6>
          </div>
    
          <ul class="list-group col-12 col-md-5 col-lg-7">
            <li class="list-group-item">
              One may not believe fact that the service of our lecturer in history Smt P. Lakshmidevi is more than a half century in our college. 
        She joined this college as an office assistant in 1970 at the age of 20. 
        During her service she completed her PG and was appointed as a Lecturer in 2002. 
        She is retired in 2008, even after retirement she is continuing her service as a lecturer in this college till today. 
        She is an Inspiration for many staff members of this college.
            </li>
          </ul>
          </div>

          <div class="row align-items-center justify-content-center">
            <div class="row-content col-8 col-md-6 col-lg-3">
              <img src="{% static 'images/Picture28.jpg' %}" class="saiphoto-md img-thumbnail img-responsive" alt="">
              <h6 class="text-center">Smt Krishnaveni</h6>
            </div>
      
            <ul class="list-group col-12 col-md-5 col-lg-7">
              <li class="list-group-item">
                Smt Krishnaveni madam was an ardent and staunch devotee for Beloved Bhagavan Sri Sathya Sai Baba for over three/four decades. She took the initiative to start Computer Course in this college.
              </li>
            </ul>
            </div>


    </div>




    <footer class="footer">
        <div class="container">
          <div class="row">
        <div class="col-6 col-sm-4 offset-sm-1">
          SSS JUNIOR COLLEGE
          <br>
          <br>
          Hospital Road
          <br>
          Judge Bungalow Compound
          <br>
          Aravinda nagar 
          <br>
          Ananthapuramu-515001
        </div>
  
        <div class="col-6 col-sm-4 offset-sm-1">
          SSS JUNIOR COLLEGE
          <br>
          <br>
          Hospital Road
          <br>
          Judge Bungalow Compound
          <br>
          Aravinda nagar 
          <br>
          Ananthapuramu-515001
        </div>
      </div>
      </footer>

      <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
      integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
      integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
      crossorigin="anonymous"
    ></script>

    </body>
    </html>
    